<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.houseleas.dao.CustomerDao">
	
	<select id="login" parameterType="com.houseleas.entity.CustomerModel" resultType="com.houseleas.entity.CustomerModel">
		select c.* from customer c 
		<where>
			c.mobile_phone = #{customerModel.mobilePhone}
			and c.password = #{customerModel.password}
		</where> 
	</select>
	
	<select id="getCustomerList" resultType="com.houseleas.entity.CustomerModel">
		select c.* from customer c
		<where>
			<if test="mobilePhone != null and mobilePhone != ''">
				and c.mobile_phone like #{mobilePhone}
			</if>
		</where>
		<if test="start != null and size != null">
				limit #{start}, #{size}
		</if>
	</select>
	
	<select id="getTotal" resultType="Long">
		select count(*) from customer
		<where>
			<if test="mobilePhone != null and mobilePhone != ''">
				mobile_phone like #{mobilePhone}
			</if>
		</where>
	</select>
	
	<insert id="addCustomer" parameterType="com.houseleas.entity.CustomerModel">
		insert into customer values(null,#{customer.mobilePhone},#{customer.password},#{customer.trueName},
		#{customer.idCard},#{customer.telNumber},#{customer.email},#{customer.type},#{customer.age},
		#{customer.sex},#{customer.qq})
	</insert>
	
	<update id="updateCustomer" parameterType="com.houseleas.entity.CustomerModel">
		update customer
		<set>
			<if test="customer.mobilePhone != null">
				mobile_phone = #{customer.mobilePhone},
			</if>
			<if test="customer.trueName != null">
				true_name = #{customer.trueName},
			</if>
			<if test="customer.idCard != null">
				id_card = #{customer.idCard},
			</if>
			<if test="customer.email != null">
				email = #{customer.email},
			</if>
			<if test="customer.telNumber != null">
				tel_number = #{customer.telNumber},
			</if>
			<if test="customer.type != null">
			type = #{customer.type},
			</if>
			<if test="customer.age != null">
			age = #{customer.age},
			</if>
			<if test="customer.sex != null">
			sex = #{customer.sex},
			</if>
			<if test="customer.qq != null">
			qq = #{customer.qq}
			</if>
		</set>
		<where>
			seq = #{customer.seq}
		</where>
	</update>
	
	<select id="getCustomer" resultType="com.houseleas.entity.CustomerModel">
		select c.* from customer c
		<where>
			c.seq = #{customer.seq}
			<if test="customer.mobilePhone != null">
				and c.mobile_phone = #{customer.mobilePhone}
			</if>
		</where>
	</select>
	
	<delete id="deleteCustomer" parameterType="Integer">
		delete from customer where seq in 
		<foreach collection="seqs" index="index" item="seq" open="(" separator="," close=")">
			#{seq}
		</foreach>
	</delete>
</mapper> 