@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	list-style: none;
}

html,body {
	font: 12px/1.5 "Microsoft YaHei", "\5b8b\4f53", Helvetica, arial, sans-serif;
}

.northDiv {
	 height: 78px;
	 background-color: #E0ECFF;
}

.southDiv{
	height: 25px;
	padding: 5px; 
	text-align: center;
}